.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}


fieldset {
    border: solid 1px #ccc;
    border-radius: 6px;
    margin: 2em 0;
    min-width: 200px;
    padding: 1em 2em;
}

.form-field {
    display: inline-block;
    width: 200px;
}

.form-label {
    display: inline-block;
    padding-right: 10px;
    text-align: right;
    width: 120px;
}

#header {
    background-color: #FFCD00;
    border: 1px solid black;
    padding: 10px;
}

#imgUIHCLogo {
    width: 15%;
}

input[type="radio"] {
}

label {
    display: inline;
    margin-bottom: 5px;
    margin-top: 1em;
}

    label:first-of-type {
        margin-top: 0;
    }

legend {
    color: #000000;
    font-size: 1.25em;
    padding: 0 .25em;
}

.logout-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.main-button {
    background-color: #00AF66;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    margin: 2px 2px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 125px;
}

#main-content {
    background-color: #fff;
    float: left;
    margin-left: 10px;
    padding: 10px;
}

.main-dd {
    width: 145px;
}

.main-mini-button {
    background-color: #63666A;
    border: thin;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    margin: 5px 2px 0px 0px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 32px;
}

.main-text {
    width: 145px;
}

.name-cell {
    width: 200px;
}

.radio-label {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    padding-left: 15px;
}

    .radio-label input[type="radio"]:checked + .radio-label span {
        color: #fff;
    }

    .radio-label span {
        color: #333333;
        font-family: Calibri, Arial, sans-serif;
        font-size: 12px;
    }

.remove-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.right-side-panel {
    background-color: #EAEAEA;
    color: #333333;
    float: right;
    margin-left: 20px;
    padding: 10px;
    width: 350px;
}

#side-panel {
    background-color: #ccc;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top-color: inherit;
    border-top-style: none;
    border-top-width: medium;
    float: left;
    height: 900px;
    padding: 10px;
    width: 150px;
}

    #side-panel h2 {
        margin-bottom: 1px;
    }

.title-cell {
    padding-left: 3px;
    position: relative;
}

    .title-cell.asc::after {
        content: "▲";
        font-size: 0.8em;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }

    .title-cell.desc::after {
        content: "▼";
        font-size: 0.8em;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }
